ВЕРСИИ БИБЛИОТЕК ПРОЕКТА
==================================================
inference-sdk        0.62.4
opencv-python        4.10.0.84
matplotlib           3.10.0
Pillow               11.3.0
requests             2.32.4
supervision          0.27.0
numpy                2.0.2
google-colab         1.0.0
==================================================
Версия Python: 3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]